<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fridge Full of CRUD</title>
</head>
<body>
    <h1> <%= food.name %> Food Facts </h1>
    <a href="/foods/<%= food.id%>/edit">Edit <%= food.name %></a>
    <ul>
        <li><%= food.description %></li>
        <li><%= food.calorie_count %></li>
        <li><%= food.gluten_free %></li>
        <li><%= food.deliciousness_factor %></li>
    </ul>

    <form method="POST" action="/foods/<%= food.id %>">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="Delete Food">
    </form>
    
</body>
</html>